@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #26333c;
  background-image: url("https://i.imgur.com/UWmo2VF.png");

  background-repeat: repeat;
  background-position: center;
}

.boxshadow {
  box-shadow: 0px 8px #1a2531;
}

.greyboxshadow {
  box-shadow: 0px 8px rgb(148, 148, 148);
  transition: 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.greyboxshadow:hover {
  box-shadow: none;
  transform: translateY(4px);
}

.buttonshadowblue {
  box-shadow: 0px 8px #14819c;
  transition: 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.buttonshadowyellow {
  box-shadow: 0px 8px #ad7109;
  transition: 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.buttonshadowblue:hover {
  box-shadow: none;
  transform: translateY(4px);
}

.buttonshadowyellow:hover {
  box-shadow: none;
  transform: translateY(4px);
}
